
# general files
desktop.ini
.venv
TrainedModels
TrainedModels_with_pde_loss
env
SELECTED_MODELS
Data_unsupervised
data
Physic_CNO/Move_data.txt
Out
scratch
archive

# pycache
**/__pycache__/
**/__pycache__/*

# logging
logs

# helper files
cluster_help.txt



